.catalogo-container {
  display: grid;
  justify-items: center;
}
.card-catalogo {
  border: solid 1px $full_dark;
  width: 20rem;
  height: 26rem;
  text-align: center;
  margin: 1rem;
  padding: 0 1rem;
  p {
    font-size: 1.2rem;
  }
  h2 {
    margin: 5px 0 10px;
  }
  a {
    text-decoration: none;
    padding: 0.5rem;
    background-color: $background-color_1;
    color: $full_light;
    &:hover {
      background-color: $background-color_2;
    }
  }
  img {
    width: 13rem;
  }
}
@media (min-width: 1200px) {
  .catalogo-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .catalogo-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .catalogo-container {
    grid-template-columns: 1fr;
  }
}
