$fondo_navbar: #e9e9e9;
$item_navbar: #333333;
$item_hover: #1d42a3;
$full_dark: #000000;
$full_light: #ffffff;
$background-color_1: #003fa1;
$background-color_2: #0557db;
$background-color_3: #ffffffea;
$gradient_1: #0575e6;
$gradient_2: #021b79;
$category_circle: #edc261;
