.horarios {
  display: inline-block;
  img {
    width: 1.8rem;
  }
}
.mapa {
  display: inline-block;
  iframe {
    width: 38vw;
    height: 40vh;
  }
}
.mapa-horarios-container {
  margin-top: 3.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.formulario-container {
  width: 100%;
  text-align: center;
  align-items: center;
  margin-top: 8rem;
  display: inline-block;
  font-size: 1rem;
  h2 {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }
  label {
    font-size: 1.2rem;
  }
  input {
    width: 20%;
    height: 1.8rem;
    padding: 0.4rem;
  }
  textarea {
    width: 30%;
    font-size: 1.5rem;
  }
  button {
    font-size: 1.2rem;
    margin-top: 0.3rem;
    padding: 0.5rem;
    background-color: $background-color_1;
    color: $full_light;
    &:hover {
      background-color: $background-color_2;
    }
  }
}
.modal-content {
  input {
    padding-left: 0.4rem;
  }
}
.modal-email-container {
  display: none;
}
@media (max-width: 991px) {
  .carousel {
    margin-top: 0.2rem;
  }
  .mapa-horarios-container {
    flex-direction: column;
  }
  .horarios {
    margin-bottom: 2rem;
  }
  .formulario-container {
    display: none;
  }
  .modal-email-container {
    display: flex;
    margin-top: 8rem;
    text-align: center;
    justify-content: center;
  }
  .modal-body {
    label {
      font-size: 1.2rem;
    }
    input {
      font-size: 1.2rem;
    }
    textarea {
      font-size: 1.2rem;
    }
  }
  .mapa {
    iframe {
      width: 80vw;
      height: 40vh;
    }
  }
}
